*{ 
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
header{
/* border: 1px solid red; */
height: 400px;
color: white;
background-image:url(img/8.jpg);
background-size: cover;
background-color: rgba(0, 0, 0, 0.664);
background-blend-mode: overlay;
}
.nav{
    display: flex;
    justify-content: space-around;
    height: 100px;
    /* border: 1px solid green; */
}
.signup{
    display: flex;
    justify-content: space-between;
}
.linkitem{
    list-style: none;
    margin: 20px;
}
.sitename{
    margin-right: 50px;
    margin-left: -70px;
    margin-top: 20px;
    font-size: 30px;
}
.navitem{
    text-decoration: none;
    color: white;
}
.navlist{
    display: flex;
    margin-right: -250px;
    padding-top: 10px;
    /* border: 1px solid blue; */
    
}
.signb{
    height: 40px;
    width: 100px;
    margin-right: 20px;
    margin-top: 20px;
    color: white;
    background-color: orange;
    border: none;
    border-radius: 5px;
}
.intro{
    padding:100px;
    padding-right: 700px;
}
.coursecard{
    display: flex;
    justify-content: space-around;
    /* height: 600px; */
    margin-bottom: 30px;
    margin-top: 50px;
    flex-wrap: wrap;
   

}
.coursecards{
    width: 30%;
    text-align: center;
    border: 1px solid rgb(240, 237, 237);
    border-radius: 10px;
    font-size: medium;
    height: 85%;
    margin-top: 20px;
}
.coursepic{
    max-width: 100%;
    height: 250px;
}
.courseb{
    width: 80%;
    height: 50px;
    background-color: orange;
    border: none;
    border-radius: 10px;
    color: white;
}
.courses{
    padding-top: 50px;
    font-size: larger;
    text-align: center;
}
.footer{
    height: 80px;
    color:white;
    font-size: 25px;
    font-style: monospace;
    padding-top: 30px;
background-color:rgb(20, 20, 20);
text-align: center;
    
}